@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Riforma";
    src: url("/fonts/RiformaLLWeb-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Riforma";
    src: url("/fonts/RiformaLLWeb-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: bold;
  }
  @font-face {
    font-family: "Riforma";
    src: url("/fonts/RiformaLLWeb-Heavy.woff2") format("woff2");
    font-weight: 900;
    font-style: black;
  }
}
