@tailwind base;
@tailwind components;
@tailwind utilities;

.bio {
  @apply w-full text-black text-[0.95rem]
  prose prose-sm
  prose-h1:text-xl prose-h1:font-bold prose-h1:pt-8;
}

.news {
  @apply w-full text-white text-3xl
  prose 
  prose-ul:list-none prose-ul:list-outside prose-ul:pl-0 prose-ul:mt-0 prose-ul:mb-0
  prose-li:pl-0
  prose-p:my-2
  prose-h1:text-xl prose-h1:font-bold prose-h1:pt-8
  prose-a:text-white;

}

.about {
  @apply w-full text-black text-3xl space-y-10
  prose 
  prose-p:my-0;
}

.newAbout {
  @apply w-full text-black text-4xl space-y-10 
  prose 
  prose-p:my-0 leading-snug;
}

.work {
  @apply w-full text-black
  columns-1 sm:columns-2 text-[0.95rem] text-justify gap-6
  prose 
  prose-p:my-0;
}

@layer base {
  @font-face {
    font-family: "Riforma";
    src: url("/fonts/RiformaLLWeb-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Riforma";
    src: url("/fonts/RiformaLLWeb-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: bold;
  }
  @font-face {
    font-family: "Riforma";
    src: url("/fonts/RiformaLLWeb-Heavy.woff2") format("woff2");
    font-weight: 900;
    font-style: black;
  }
}
